.cart-grid {
  margin-left: 200px;
  margin-right: 200px;
  max-width: 1200px;
}

.cart-grid-title-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: white;
}

.cart-grid-product, .cart-grid-price {
  flex: 1;
  display: flex;
  align-items: center;
}

.filler-div{
  flex: 1;
}

.cart-grid-product {
  justify-content: center;
}

.cart-grid-price {
  justify-content: center;
}

.product-grid{


}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: white;

}

.thumbnail-container{
  flex: 1;
  display: flex;
}

.cart-thumbnail {
  flex: 1;
  width: 100px;
  padding: 40px;
  display: block;
  border-radius: 60px;
  
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-title, .product-size {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: left;
}

.product-size {
  flex: 1;
  justify-content: left;
}

.product-price {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.remove-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.remove-button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  /*margin-right: 40px;*/
}

