.cart-grid {
  margin-left: 200px;
  margin-right: 200px;
  max-width: 1200px;
}

.cart-grid-title-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: white;
}

.cart-grid-product, .cart-grid-price {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.filler-div{
  flex: 1;
}

.cart-grid-product {
  justify-content: center;
}

.cart-grid-price {
  justify-content: center;
}

.product-grid{


}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: white;

}

.thumbnail-container{
  flex: 1;
  display: flex;
}

.cart-thumbnail {
  flex: 1;
  width: 100px;
  padding: 40px;
  display: block;
  border-radius: 60px;
  
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-title, .product-size {
  display: flex;
  font-weight: bold;
  flex: 2;
  align-items: center;
  justify-content: left;
  padding-right: 20px;
}

.product-size {
  flex: 1;
  justify-content: left;
}

.product-price {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.remove-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.remove-button {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  text-decoration: underline;
  font-family: Inter, Arial;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  text-underline-offset: 4px;
  border-radius: 10px;
}

.remove-button:hover {
  background-color:rgb(224, 72, 72);
  cursor: pointer;
}

@media (max-width: 970px) {
  .product-title, .product-size, .product-price, .remove-button {
    font-size: 12px;
  }

  
}

@media (max-width: 550px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

