.cart-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.cart-grid-title-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: white;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.cart-grid-product, .cart-grid-price {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-width:  100px;
}

.filler-div{
  flex: 1;
  min-width: 100px;
}

.cart-grid-product {
  justify-content: center;
}

.cart-grid-price {
  justify-content: center;
}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: white;

}

.thumbnail-container{
  flex: 1;
  display: flex;
  min-width: 100px;
  
}

.cart-thumbnail {
  flex: 1;
  padding: 30px;
  display: block;
  width: 20px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  
}

.product-title, .product-size {
  display: flex;
  font-weight: bold;
  flex: 4;
  align-items: center;
  justify-content: left;
}

.product-title {
  padding-right: 20px;
}

.product-size {
  flex: 1;
  justify-content: left;
}

.product-price {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-width: 100px;
  
}

.remove-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100px;
  
}

.remove-button {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  text-decoration: underline;
  font-family: Inter, Arial;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  text-underline-offset: 4px;
  border-radius: 10px;
}

.remove-button:hover {
  background-color:rgb(224, 72, 72);
  cursor: pointer;
}

@media (max-width: 970px) {
  .product-title, .product-size, .product-price, .remove-button {
    font-size: 12px;
  }

  .remove-button {
    width: 60px;
    border-radius: 8px;
    text-underline-offset: 3px;
  }

  .product-title {
    padding-right: 15px;
  }

  .cart-thumbnail {
    padding: 20px;
  }

  
}

@media (max-width: 550px) {
  .product-title, .product-size, .product-price, .remove-button {
    font-size: 8px;
  }

  .product-title {
    padding-right: 10px;
  }

  .remove-button {
    width: 40px;
    border-radius: 5px;
    text-underline-offset: 2px;
  }

  .cart-thumbnail {
    padding: 10px;
  }
}

